body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 360px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
    padding: 40px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-wrapper img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}


h1 {
    text-align: center;
    color: #1E3A8A;
    font-weight: 700;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 2px rgba(30, 58, 138, 0.1);
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
    color: #444;
}

input, select {
    width: 100%;
    padding: 12px 14px;
    border-radius: 12px;
    border: 1.5px solid #d2caca;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

input:focus, select:focus {
    border-color: #6a36ff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 6px;
}

.remember label {
    margin: 0;
    line-height: 1;
    font-size: 14px;
    color: #6b6b6b;
}

.remember input[type-checkbox] {
    width: 16px;
    height: 16px;   
    margin-right: 8px;
    cursor: pointer;
}

.forgot {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}

.forgot a {
    color: #6a36ff;
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6a36ff;
    border: none;
    border-radius: 14px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #592fe0;
}
